:root {
  /* Colores */
  --color-background: black;
  --color-text: #eefdfc;
  --color-primary: #3ad3d6;
  --color-secondary: #d4f9f9;
  
  /* Fuentes */
  --font-main: 'Trebuchet MS', sans-serif;
  --font-heading: 'Bebas Neue', sans-serif;
  
  /* Espaciado */
  --spacing-small: 0.5rem;
  --spacing-medium: 1rem;
  --spacing-large: 2rem;
  
  /* Tamaños de fuente */
  --font-size-small: 0.875rem;
  --font-size-medium: 1rem;
  --font-size-large: 1.25rem;
  --font-size-xlarge: 1.5rem;
  
  /* Breakpoints */
  --breakpoint-mobile: 670px;
  --breakpoint-tablet: 860px;
  --breakpoint-desktop: 1200px;
}